{"openapi":"3.1.0","info":{"title":"Diavgis Procurement API","version":"1.0.0","description":"Read API over normalized Greek public-procurement acts, resolved entities, and reconstructed lifecycle chains. Sources: Διαύγεια, ΚΗΜΔΗΣ (Central Electronic Public Procurement Registry) and EU TED — cross-linked into one dataset. Natural-person counterparties are redacted.","termsOfService":"https://diavgis.gr/terms","contact":{"name":"Diavgis","url":"https://diavgis.gr/docs/en"},"license":{"name":"CC-BY-4.0","url":"https://creativecommons.org/licenses/by/4.0/"},"x-logo":{"url":"https://diavgis.gr/apple-touch-icon.png"}},"servers":[{"url":"https://api.diavgis.gr","description":"Production"}],"security":[{"apiKey":[]},{"bearer":[]}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"bearer":{"type":"http","scheme":"bearer"}}},"paths":{"/v1/tenders":{"get":{"summary":"Search procurement acts","parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["request","tender","award","contract","payment"]}},{"name":"source","in":"query","schema":{"type":"string","enum":["diavgeia","kimdis","ted"]},"description":"filter by data source"},{"name":"buyer_afm","in":"query","schema":{"type":"string"}},{"name":"supplier_afm","in":"query","schema":{"type":"string"}},{"name":"cpv","in":"query","schema":{"type":"string"}},{"name":"budget_min","in":"query","schema":{"type":"number"}},{"name":"budget_max","in":"query","schema":{"type":"number"}},{"name":"year","in":"query","schema":{"type":"string","pattern":"^\\d{4}$"},"description":"restrict to acts issued in this 4-digit year"},{"name":"q","in":"query","schema":{"type":"string"},"description":"free-text over the act title"},{"name":"region","in":"query","schema":{"type":"string"},"description":"NUTS prefix, e.g. EL30 = Attica"},{"name":"deadline_after","in":"query","schema":{"type":"string","format":"date"},"description":"open tenders whose submission deadline is on/after this date"},{"name":"direct_award","in":"query","schema":{"type":"boolean"},"description":"only direct awards (απευθείας ανάθεση)"},{"name":"single_bidder","in":"query","schema":{"type":"boolean"},"description":"only acts where <=1 bid was submitted"},{"name":"price_only","in":"query","schema":{"type":"boolean"},"description":"only lowest-price award criteria (excludes MEAT)"},{"name":"cancelled","in":"query","schema":{"type":"boolean"},"description":"only source-cancelled acts; by DEFAULT cancelled and superseded acts are excluded from every list"},{"name":"has_chain","in":"query","schema":{"type":"boolean"},"description":"only acts linked into a reconstructed lifecycle chain"},{"name":"page","in":"query","schema":{"type":"integer","default":1},"description":"capped by the plan's pagination depth; beyond it returns 403 page_limit"},{"name":"page_size","in":"query","schema":{"type":"integer","default":20,"maximum":200}}],"responses":{"200":{"description":"Paginated acts"},"400":{"description":"invalid_query"},"401":{"description":"missing/invalid key"},"403":{"description":"page_limit / rail_not_allowed / suspended"},"429":{"description":"quota or rate limit exceeded"}}}},"/v1/acts/{ada}":{"get":{"summary":"Act detail + entities + CPVs + chain","parameters":[{"name":"ada","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Act"},"404":{"description":"not_found"}}}},"/v1/entities/{afm}":{"get":{"summary":"Entity profile + spend/receipt stats","parameters":[{"name":"afm","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Entity"},"400":{"description":"invalid_afm"},"404":{"description":"not_found"}}}},"/v1/chains/{chain_id}":{"get":{"summary":"Reconstructed lifecycle chain","parameters":[{"name":"chain_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chain members"},"404":{"description":"not_found"}}}},"/v1/me":{"get":{"summary":"Caller's plan, billing period, usage and remaining quota","responses":{"200":{"description":"Entitlement"},"401":{"description":"missing/invalid key"}}}}}}